<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1>Edit Item</h1>
    <form class="" action="/pantry/<%=item.id%>?_method=PUT" method="post">
      <div class="mainDetails">
        <h5 for="">Name</h5><input type="text" name="name" value="<%=item.name%>"><br/>
        <h5 for="">Brand</h5><input type="text" name="brand" value="<%=item.brand%>"><br/>
        <h5 for="">Serving Size</h5><input type="text" name="servingSizeQty" value="<%=item.servingSizeQty%>" class="servingSizeQty serving">
          <input type="text" name="servingSizeUn" value="<%=item.servingSizeUn%>" class="servingSizeQty serving"><br/>
        <h5 for="">Servign Weight (grams)</h5><input type="text" name="servingWeight" value="<%=item.servingWeight%>"><br/>
        <h5 for="">Calories</h5><input type="text" name="calories" value="<%=item.calories%>"><br/>
        <h5 for="">Fat</h5><input type="text" name="fat" value="<%=item.fat%>"><br/>
        <h5 for="">Carbs</h5><input type="text" name="carbs" value="<%=item.totalCarbs%>"><br/>
        <h5 for="">Fiber</h5><input type="text" name="fiber" value="<%=item.fiber%>"><br/>
        <h5 for="">Sugar</h5><input type="text" name="sugars" value="<%=item.sugars%>"><br/>
        <h5 for="">Protein</h5><input type="text" name="protein" value="<%=item.protein%>"><br/>
      </div>
      <h2>FODMAP Data</h2>
        <div class="fodmapsContainer">
          <div class="fodmapDetails">
            <h4 class="fodmapInput fmpUnits fmpHeaders">Serving Size Weight</h4>
            <h4 class="fodmapInput fmpUnits fmpHeaders">Serving Size Volume</h4>
            <h4 class="fodmapInput fmpType fmpHeaders" >Oligos</h4>
            <h4 class="fodmapInput fmpType fmpHeaders">Fructos</h4>
            <h4 class="fodmapInput fmpType fmpHeaders">Polyols</h4>
            <h4 class="fodmapInput fmpType fmpHeaders">Lactos</h4>
          </div>
          <% let fodmaps = item.fodmaps %>
          <% for (let i = 0; i < fodmaps.length; i++) { %>
            <div class="fodmapDetails">
              <% for(let key in fodmaps[i]) { %>
                <% let servingSizeW = 'servingSizeW' + (i+1).toString() %>
                <% let servingSizeV = 'servingSizeV' + (i+1).toString() %>
                <% if(key === servingSizeW || key === servingSizeV) { %>
                  <input type="text" name="<%=key%>" value="<%=fodmaps[i][key]%>" class="fodmapInput  fmpUnits">
                  <% } else { %>

                    <select  name="<%=key%>" class="fodmapInput fmpType">
                      <option value=""></option>
                      <option value="Low" <% if(fodmaps[i][key] === 'Low') { %> selected <% }%> >Low</option>
                      <option value="Medium" <% if(fodmaps[i][key] === 'Medium') { %> selected <% } %> >Medium</option>
                      <option value="High" <% if(fodmaps[i][key] === 'High') { %> selected <% } %> >High</option>
                    </select>
                <% } %>
              <% } %>
            </div>
          <% } %>
        </div>
      <input type="submit" value="Submit Changes" class='pageBtns'>
    </form>
  </body>
</html>
