<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="itemsList">
      <button class='pageBtns' type="button" name="btnAddManually" onclick='window.location.href="/pantry/new"'>Add Item</button>
      <% for(let i = 0; i < items.length; i++) { %>
          <div class="listItemDiv">
            <div class="item">
              <a class='itemLabel' href="/pantry/<%=items[i].id%>/show"><%=items[i].name%></a>
              <form action="./<%=items[i].id%>?_method=DELETE" method="POST">
                <input class='pageBtns'  type="submit" name="" value="X">
              </form>
              <form class="" action="/pantry/<%=items[i].id%>/edit" method="GET">
                <input type="submit" name="btnEdit" value="Edit" class="pageBtns">
              </form>
              <!-- <button class='pageBtns' type="button" name="btnEdit" onclick='window.location.href="/pantry/<%=items[i].id%>/edit"'>Edit</button> -->
            </div>
          </div>
      <% } %>
    </div>
  </body>
</html>
