<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1><%=item.name%></h1>
    <label for=""><%=item.brand%></label>
    <label for=""><%=item.servingSize%></label>
    <label for=""><%=item.calories%></label>
    <label for=""><%=item.fat%></label>
    <label for=""><%=item.carbs%></label>
    <label for=""><%=item.fiber%></label>
    <label for=""><%=item.sugars%></label>
    <label for=""><%=item.protein%></label>
    <% let fodmaps = item.fodmaps %>
    <% for (let i = 0; i < fodmaps.length; i++) { %>
      <% for(let key in fodmaps[i]) { %>
        <label for=""><%=fodmaps[i][key]%></label>
      <% } %>
    <% } %>



  </body>
</html>
