<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1><%=item.name%></h1>
    <div class="mainDetails">
      <h5 for="">Name</h5><lable><%=item.name%></label><br/>
      <h5 for="">Brand</h5><lable><%=item.brand%></label><br/>
      <h5 for="">Serving Size</h5><lable class="servingSizeQty serving"><%=item.servingSizeQty%></label>
        <lable class="servingSizeQty serving"><%=item.servingSizeUn%></label><br/>
      <h5 for="">Servign Weight (grams)</h5><lable type="text" name="servingWeight" value=""><%=item.servingWeight%></label><br/>
      <h5 for="">Calories</h5><lable><%=item.calories%></label><br/>
      <h5 for="">Fat</h5><lable><%=item.fat%></label><br/>
      <h5 for="">Carbs</h5><lable><%=item.totalCarbs%></label><br/>
      <h5 for="">Fiber</h5><lable><%=item.fiber%></label><br/>
      <h5 for="">Sugar</h5><lable><%=item.sugars%></label><br/>
      <h5 for="">Protein</h5><lable><%=item.protein%></label><br/>
    </div>
    <h2>FODMAPs</h2>
    <div class="fodmapsContainer">
      <div class="fodmapDetails">
        <h4 class="fodmapInput fmpUnits fmpHeaders">Serving Size Weight</h4>
        <h4 class="fodmapInput fmpUnits fmpHeaders">Serving Size Volume</h4>
        <h4 class="fodmapInput fmpType fmpHeaders" >Oligos</h4>
        <h4 class="fodmapInput fmpType fmpHeaders">Fructos</h4>
        <h4 class="fodmapInput fmpType fmpHeaders">Polyols</h4>
        <h4 class="fodmapInput fmpType fmpHeaders">Lactos</h4>
      </div>
      <% let fodmaps = item.fodmaps %>
      <% for (let i = 0; i < fodmaps.length; i++) { %>
        <div class="fodmapDetails">
          <% for(let key in fodmaps[i]) { %>
            <label for=""><%=fodmaps[i][key]%></label>
          <% } %>
        </div>
      <% } %>
    </div>

  </body>
</html>
